{{- $email := promptStringOnce . "email" "Email address " }}
{{- $mbsyncAccountNumber := promptIntOnce . "mbsyncAccountNumber" "How many mbsync accounts would you generate " }}

{{- $mbsyncAccountNumber = $mbsyncAccountNumber | int -}}


data:
  email: {{ $email | quote }}
  mbsyncAccountNumber: {{ $mbsyncAccountNumber }}
  {{- if gt $mbsyncAccountNumber 0 -}}
  mbsync:
    {{- range $i, $e := until $mbsyncAccountNumber -}}
    - name: {{ $mbsyncAccountName := promptString "MbSync account name " }}
      email: "accountEmail"
      username: "accountUserName"
      server: "accountServer"
    {{- end -}}
  {{- end -}}
