[".asdf"]
    type = "git-repo"
    url = "https://github.com/asdf-vm/asdf.git"
    refreshPeriod = "168h"

[".config/aacs/KEYDB.cfg"]
    type = "file"
    url = "https://vlc-bluray.whoknowsmy.name/files/KEYDB.cfg"
    refreshPeriod = "168h"

[".local/share/qutebrowser/userscripts/buku"]
    type = "file"
    url = "https://raw.githubusercontent.com/spectronp/qutebrowser-buku/main/buku"
    executable = true
    refreshPeriod = "168h"

[".config/ranger/plugins/ranger_udisk_menu"]
    type = "git-repo"
    url = "https://github.com/SL-RU/ranger_udisk_menu.git"
    refreshPeriod = "168h"

[".config/ranger/plugins/devicons2"]
    type = "git-repo"
    url = "https://github.com/cdump/ranger-devicons2.git"
    refreshPeriod = "168h"

[".config/ranger/plugins/ranger-archives"]
    type = "git-repo"
    url = "https://github.com/maximtrp/ranger-archives.git"
    refreshPeriod = "168h"

[".config/ranger/plugins/ranger_tmux"]
    type = "git-repo"
    url = "https://github.com/joouha/ranger_tmux.git"
    refreshPeriod = "168h"

[".config/ranger/plugins/oscyank"]
    type = "git-repo"
    url = "https://github.com/laggardkernel/ranger-oscyank.git"
    refreshPeriod = "168h"

[".config/ranger/plugins/zoxide"]
    type = "git-repo"
    url = "https://github.com/jchook/ranger-zoxide.git"
    refreshPeriod = "168h"

[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"

{{ $tmsuVersion := "0.7.5" -}}
[".local/bin/tmsu"]
    type = "archive-file"
    url = "https://github.com/oniony/TMSU/releases/download/v{{ $tmsuVersion }}/tmsu-x86_64-{{ $tmsuVersion }}.tgz"
    path = "./bin/tmsu"

[".zim/zimfw.zsh"]
    type = "file"
    url = "https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh"
    refreshPeriod = "168h"

{{- if ne .latex false }}
["texmf/tex/latex/latex-homework"]
    type  = "git-repo"
    url = "https://git.jefflance.me/jeff/latex-homework.git"
    refreshPeriod = "168h"

["texmf/tex/latex/latex-beamer-themes"]
    type  = "git-repo"
    url = "https://git.jefflance.me/jeff/latex-beamer-themes.git"
    refreshPeriod = "168h"

["texmf/tex/latex/emerald"]
    type  = "git-repo"
    url = "https://git.jefflance.me/jeff/emerald.git"
    refreshPeriod = "168h"

[".asy"]
    type  = "git-repo"
    url = "https://git.jefflance.me/jeff/asymptote-config.git"
    refreshPeriod = "168h"
{{- end }}
