{{- $email := promptStringOnce . "email" "Email address ?" -}}
{{- $mbsyncAccountNumber := promptIntOnce . "mbsyncAccountNumber" "How many mbsync accounts would you generate ?" -}}

{{- if -}}

{{- end -}}

data:
  email: {{ $email | quote }}
  mbsyncAccountNumber: {{ $mbsyncAccountNumber }}
  mbsync:
    - name: "accountName"
      email: "accountEmail"
      username: "accountUserName"
      server: "accountServer"
