# Start configuration added by Zim install
# -------
# Modules
# -------

zmodule environment
zmodule input
zmodule completion

zmodule zsh-users/zsh-completions
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

zmodule buku -z
zmodule joke/zim-chezmoi
zmodule git
zmodule termtitle
zmodule archive
{{ if (eq .chezmoi.os "linux") -}}
# Distribution aliases and functions.
{{ if (eq .chezmoi.osRelease.id "manjaro") -}}
zmodule manjaro -z
{{ else if (eq .chezmoi.osRelease.id "arch") -}}
zmodule pacman
{{ else if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
zmodule debian
{{- end }}
{{- end }}

zmodule sudo -z
zmodule utility
zmodule fzf
zmodule jl-helper -z
zmodule magic-enter
zmodule git-info
zmodule steeef
zmodule joke/zim-starship
# zmodule password -z

zstyle ':zim:module' skip 'prompt'

# End configuration added by Zim install
