[user]
	name = Jeff LANCE
	email = "{{ .email }}"
{{- if not (empty .signinkey) -}}
  signinkey = "{{ .signinkey }}"
{{- end -}}
[core]
	excludesfile = /home/jeff/.gitignore.global
[credential]
	helper = store
[init]
	defaultBranch = master
[pull]
	ff = only
[gui]
	fontui = -family \"FantasqueSansMono Nerd Font\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"FantasqueSansM Nerd Font Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 4
