# Start configuration added by Zim install
# -------
# Modules
# -------

# Environment
#
# Sets sane Zsh built-in environment options.
zmodule environment
# Applies correct bindkeys for input events.
zmodule input

# Completion
#
# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions
# Enables and configures smart and extensive tab completion.
# completion must be sourced after zsh-users/zsh-completions
zmodule completion
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

# Productivity
#
# Alacritty completions modules
zmodule -u alacritty
# Sets up asdf, with auto install and optimized usage of the direnv plugin.
#zmodule asdf
# Buku completions modules
zmodule -u buku
# chezmoi
zmodule joke/zim-chezmoi
# Provides handy git aliases and functions.
zmodule git
# Sets a custom terminal title.
zmodule termtitle
# Provides archive and unarchive functions for easy archive manipulation.
zmodule archive
{{ if (eq .chezmoi.os "linux") -}}
# Distribution aliases and functions.
{{ if (eq .chezmoi.osRelease.id "manjaro") -}}
zmodule -u manjaro
{{ else if (eq .chezmoi.osRelease.id "arch") -}}
zmodule pacman
{{ else if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
zmodule debian
{{- end }}
{{- end }}
# sudo module
zmodule -u sudo
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility
# exa
## zmodule exa
# fzf
zmodule fzf
# Personal aliases
zmodule -u jl-helper
# magic enter feature from subnixr's minimal prompt theme
zmodule magic-enter

# Syntx highlighting
#
# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

# Prompt
#
# Exposes git repository status information to prompts.
zmodule git-info
# A customizable version of steeef's prompt theme.
zmodule steeef
# starship
zmodule joke/zim-starship

# End configuration added by Zim install
