# Start configuration added by Zim install
# -------
# Modules
# -------

zmodule environment
zmodule input

zmodule zsh-users/zsh-completions
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule completion

zmodule ohmyzsh/ohmyzsh --root plugins/kitty
zmodule ohmyzsh/ohmyzsh --root plugins/starship
zmodule ohmyzsh/ohmyzsh --root plugins/sudo
zmodule ohmyzsh/ohmyzsh --root plugins/zoxide
zmodule ohmyzsh/ohmyzsh --root plugins/direnv
zmodule ohmyzsh/ohmyzsh --root plugins/colorize
zmodule ohmyzsh/ohmyzsh --root plugins/docker-compose
zmodule ohmyzsh/ohmyzsh --root plugins/colored-man-pages
zmodule ohmyzsh/ohmyzsh --root plugins/git
zmodule ohmyzsh/ohmyzsh --root plugins/man
zmodule ohmyzsh/ohmyzsh --root plugins/magic-enter
zmodule ohmyzsh/ohmyzsh --root plugins/per-directory-history
zmodule ohmyzsh/ohmyzsh --root plugins/qrcode
zmodule ohmyzsh/ohmyzsh --root plugins/mosh

zmodule joke/zim-chezmoi

{{ if (eq .chezmoi.os "linux") -}}
# Distribution aliases and functions.
{{ if (eq .chezmoi.osRelease.id "manjaro") -}}
zmodule manjaro -z
{{ else if (eq .chezmoi.osRelease.id "arch") -}}
zmodule pacman
{{ else if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
zmodule debian
{{- end }}
{{- end -}}

zmodule termtitle
zmodule archive
zmodule utility
zmodule fzf
zmodule git-info
zmodule passwordstore -z
zmodule buku -z
zmodule jl-helper -z

# zstyle ':zim:module' skip 'prompt'

# End configuration added by Zim install
