#!{{ lookPath "bash" }}

# title
title="IDE's configuration"

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh


{{- if (ne .hasIDE false) }}

    log "Begin ${title}"

    inf "install tinytex for Quarto"
    if [[ $(command -v quarto) ]]; then
      quarto install tinytex
    fi

    inf "install python dependencies for Quarto"
    python3 -Im pip install jupyter jupyterlab ipykernel matplotlib plotly pandas

    inf "install and register Jupyter kernels"
    python3 -Im ipykernel install --user --name python-asdf --display-name "Python (asdf)"

    Rscript -e "install.packages('IRkernel', repos='https://cloud.r-project.org')" \
            -e "IRkernel::installspec(user = TRUE, jupyter='/home/jeff/.asdf/installs/python/3.12.11/bin/jupyter')"

    julia -e 'ENV["JUPYTER"]="/home/jeff/.asdf/installs/python/3.12.11/bin/jupyter"; using Pkg; Pkg.add("IJulia"); Pkg.build("IJulia")'

    log "${title} done"

{{- end }}

