#!/usr/bin/env bash

# Logging function
log() {
  printf "$(tput setaf 4)$(tput bold)>>>>> %s <<<<<$(tput sgr0)\n" "$1"
}

inf() {
  printf "$(tput setaf 2)╚═══ᐳ $(tput sgr 0 1)$(tput setaf 2)%s$(tput sgr0)\n" "$1"
}



{{- if (ne .latex false) -}}
log "Begin LaTeX repo initialization"

texhash "${HOME}/texmf/tex/latex"

log "Finish LaTeX repo initialization"
{{- end }}

