#!{{ lookPath "bash" }}

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

# Lua version
lua_version="latest:5.1"


{{- if (ne .hasNVim false) }}

    log "Set Lua version for NVim"

    inf "Lua ${lua_version}..."
    asdf install lua ${lua_version}
    asdf set lua ${lua_version}

    log "Lua version for NVim set"

{{- end }}

log "Set Jupyter kernels"

inf "R kernel"
Rscript -e "install.packages('IRkernel', repos='https://cloud.r-project.org')" \
        -e "IRkernel::installspec(user = TRUE)"

inf "Julia kernel"
julia -e 'using Pkg; Pkg.add("IJulia")'

log "Jypyter kernels set"
