#!{{ lookPath "bash" }}

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh
. ${HOME}/.asdf/asdf.sh

# Environment variables
ZIMDIR=${HOME}/.zim


### Update shell install ###
log "Begin Zsh customization"


## Update cargo
inf "installing cargo-update..."

cargo install cargo-update

## Install Atuin
inf "installing atuin..."

cargo install atuin

## Reshim
inf "asdf reshim..."

asdf reshim

### Config Zsh ###
inf "installing zim framework"

$(which zsh) -c "source ${ZIMDIR}/zimfw.zsh init -q"


log "Finish Zsh customization"

