#!{{ lookPath "bash" }}

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

# Environment variables
TEXMFDIR=${HOME}/texmf/tex/latex


{{- if (ne .hasLatex false) }}
    log "Begin LaTeX repo initialization"

    texhash "${TEXMFDIR}"

    log "Finish LaTeX repo initialization"
{{ end -}}

