#!{{ lookPath "bash" }}

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

# Lua version
lua_version="latest:5.1"


{{- if (ne .hasNVim false) }}

    log "Finalize NVim configuration"

    inf "installing Lua ${lua_version}..."
    asdf install lua ${lua_version}
    asdf set lua ${lua_version}

    log "Finish NVim installation"

{{- end }}
