#!{{ lookPath "bash" }}

# title
title="LaTeX repo cloning"

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

# Environment variables
TEXMFDIR=${HOME}/texmf/tex/latex


{{- if (ne .hasLatex false) }}
    log "Begin ${title}"

    texhash "${TEXMFDIR}"

    log "${title} done"
{{ end -}}

