#!{{ lookPath "bash" }}

# title
title="NeoVim configuration"

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

# Lua version
lua_version="latest:5.1"


{{- if (ne .hasNVim false) }}

    log "Begin ${title}"

    inf "install Lua ${lua_version} in asdf..."
    asdf plugin add lua 'https://github.com/Stratus3D/asdf-lua.git'
    asdf install lua ${lua_version}
    asdf set lua ${lua_version}

    log "${title} done"

{{- end }}

