#!{{ lookPath "bash" }}

# title
title="IDE's configuration"

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh


{{- if (ne .hasIDE false) }}

    log "Begin ${title}"

    inf "install tinytex for Quarto"
    if [[ $(command -v quarto) ]]; then
      quarto install tinytex
    fi

    # R
    Rscript -e 'install.packages("IRkernel", repos="https://cloud.r-project.org")'
    Rscript -e 'IRkernel::installspec(user = TRUE)'

    # Julia
    julia -e 'using Pkg; Pkg.add("IJulia"); Pkg.build("IJulia")'

    log "${title} done"

{{- end }}

