#!{{ lookPath "bash" }}

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

# Lua version
lua_version="latest:5.1"


{{- if (ne .hasNVim false) }}

    log "Install Lua version for NVim via asdf"

    inf "Lua ${lua_version}..."
    asdf plugin add lua 'https://github.com/Stratus3D/asdf-lua.git'
    asdf install lua ${lua_version}
    asdf set lua ${lua_version}

    log "Lua version for NVim set"

{{- end }}

