#!/usr/bin/env bash

# Load local library
. ./run_before-common.lib



packages=(
  cargo
  go
  neovim
  npm
  python-pip
  python-pynvim
  ripgrep
)



info1 ">>>>> Begin LVim installation <<<<<"

{{ if (eq .chezmoi.osRelease.id "manjaro" "arch") -}}

  ## Update system
  yay -Syu --noconfirm

  ## Install packages
  for package in ${packages[@]}; do
    if [ "$(yay -Qq $package 2> /dev/null)" != $package ]; then
      info2 "installing ${package}..."
      yay -S --noconfirm $package
    fi
  done

{{ else if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}

  DEBIAN_FRONTEND=noninteractive

  ## Update system
  {{- if ne .chezmoi.username "root" }}
    sudo -E apt update
    sudo -E apt upgrade --yes
  {{- else }}
    apt update
    apt upgrade --yes
  {{- end}}

  ## Install packages
  packages=(${packages[@]//go/golang})
  packages=(${packages[@]//python/python3})
  packages=(${packages[@]//neovim/})

  for package in ${packages[@]}; do
    info2 "installing ${package}..."

    {{- if ne .chezmoi.username "root" }}
      sudo -E apt-get install --yes --no-install-recommends --ignore-missing $package
    {{- else }}
      apt-get install --yes --no-install-recommends --ignore-missing $package
    {{- end }}
  done

  info2 "installing neovim..."
  mist install neovim

{{- end }}

info2 "installing lvim..."
LV_BRANCH='release-1.3/neovim-0.9' bash <(curl -s 'https://raw.githubusercontent.com/LunarVim/LunarVim/release-1.3/neovim-0.9/utils/installer/install.sh')

info1 ">>>>> Finish LVim installation <<<<<"


