#!{{ lookPath "bash" }}

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh


# Plugins to install
declare -A plugins
plugins=(
  ['direnv']=''
  ['golang']='https://github.com/asdf-community/asdf-golang.git'
  ['julia']='https://github.com/rkyleg/asdf-julia.git'
  ['luajit']='https://github.com/smashedtoatoms/asdf-luaJIT.git'
  ['nodejs']='https://github.com/asdf-vm/asdf-nodejs.git'
  ['opam']='https://github.com/asdf-community/asdf-opam.git'
  ['r']='https://github.com/asdf-community/asdf-r.git'
  ['ruby']='https://github.com/asdf-vm/asdf-ruby.git'
  ['rust']='https://github.com/code-lever/asdf-rust.git'
  ['starship']=''
)


### Install ASDF plugins ###
log "Begin ASDF plugins installation"

inf "installing direnv with system version..."
# no need to run asdf direnv setup --shell zsh --version latest
# as it is managed by zim module

for plugin in ${!plugins[@]}; do
  inf "installing ${plugin}..."

  asdf plugin add ${plugin} ${plugins[$plugin]}
  asdf install ${plugin} latest
  asdf set ${plugin} latest
done

inf "initializing opam..."
opam init -n

log "Finish ASDF plugins installation"

