#!{{ lookPath "bash" }}

# Logging function
# log() {
#   printf "$(tput setaf 4)$(tput bold)>>>>> %s <<<<<$(tput sgr0)\n" "$1"
# }

# inf() {
#   printf "$(tput setaf 2)╚═══ᐳ $(tput sgr 0 1)$(tput setaf 2)%s$(tput sgr0)\n" "$1"
# }

# err() {
#   printf "$(tput setaf 9)$(tput bold)>>>>> %s ! <<<<<$(tput sgr0)\n" "$1"
# }


{{ if (eq .chezmoi.os "linux") -}}
  {{ if (eq .chezmoi.osRelease.id "manjaro" "arch") -}}

    log "Begin Arch/Manjaro Linux packages installation"

    . {{ .chezmoi.workingTree }}/scripts/archlinux.sh

    log "Finish Arch/Manjaro Linux packages installation"

  {{ else if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}

    log "Begin Debian/Ubuntu Linux packages installation"

    err "Don't have any install script for Debian/Ubuntu" 

    log "Finish Debian/Ubuntu Linux packages installation"

  {{- end }}
{{- end }}


