#!{{ lookPath "bash" }}

# include lib
. ${CHEZMOI_WORKING_TREE}/scripts/utils.sh


{{ if (eq .chezmoi.os "linux") -}}
  {{ if (eq .chezmoi.osRelease.id "manjaro" "arch") -}}

    log "Begin Arch/Manjaro Linux packages installation"

    . {{ .chezmoi.workingTree }}/scripts/archlinux.sh

    log "Finish Arch/Manjaro Linux packages installation"

  {{ else if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}

    log "Begin Debian/Ubuntu Linux packages installation"

    err "Don't have any install script for Debian/Ubuntu" 

    log "Finish Debian/Ubuntu Linux packages installation"

  {{- end }}
{{- end }}


