chezmoi:template:missing-key=zero
#####################
#  __   _  _        #
# /__| / \|_) /\ |  #
# \_||_\_/|_)/--\|_ #
#                   #
#####################

# Attempt to keep the time-stamp based
# sorting intact
CopyArrivalDate yes
# Automatically create missing mailboxes,
# both locally and on the server
Create Near
# The per-Channel, per-direction instantaneous
# memory usage above which mbsync will refrain
# from using more memory.
BufferLimit 100M


##########################
#      _ _ _       _____ #
#  /\ / / / \| ||\ ||(_  #
# /--\\_\_\_/|_|| \||__) #
#                        #
##########################

{{ range $value := .mail }}
# {{ $value.comment }}
#-------------------------

IMAPAccount {{ $value.account }}
# Address to connect to
Host {{ $value.imapsrv }}
User {{ $value.usrname }}
PassCmd "pass {{ $value.host }}/{{ $value.usrname }}"
# Use SSL
# SSLType IMAPS
SSLType None
# The following line should work.
# If get certificate errors, uncomment the two
# following lines and read the "Troubleshooting" section.
CertificateFile /etc/ssl/certs/ca-certificates.crt


IMAPStore {{ $value.account }}-remote
Account {{ $value.account }}


MaildirStore {{ $value.account }}-local
SubFolders Verbatim
# The trailing "/" is important
Path ~/Mail/{{ $value.account }}/
Inbox ~/Mail/{{ $value.account }}/inbox


Channel {{ $value.account }}-inbox
Far :{{ $value.account }}-remote:
Near :{{ $value.account }}-local:inbox
Sync PullNew PullDelete Push
SyncState *
# Remove Both
Expunge Both


Channel {{ $value.account }}-sent
Far :{{ $value.account }}-remote:"Sent Items"
Near :{{ $value.account }}-local:sent
Sync PullNew PullDelete Push
SyncState *
Expunge Both


Channel {{ $value.account }}-trash
Far :{{ $value.account }}-remote:"Deleted Items"
Near :{{ $value.account }}-local:trash
Sync PullNew PullDelete Push
SyncState *
Expunge Both


Channel {{ $value.account }}-drafts
Far :{{ $value.account }}-remote:"Drafts"
Near :{{ $value.account }}-local:drafts
Sync PullNew PullDelete Push
SyncState *
Expunge Both


Channel {{ $value.account }}-junk
Far :{{ $value.account }}-remote:"Junk Email"
Near :{{ $value.account }}-local:junk
Sync PullNew PullDelete Push
SyncState *
Expunge Both


Channel {{ $value.account }}-archive
Far :{{ $value.account }}-remote:"Archive"
Near :{{ $value.account }}-local:archive
Pattern *
Create Near
MaxMessages 1500
Sync New Delete Push
SyncState *
Expunge Both


Group {{ $value.account }}
Channel {{ $value.account }}-inbox
Channel {{ $value.account }}-sent
Channel {{ $value.account }}-trash
Channel {{ $value.account }}-drafts
Channel {{ $value.account }}-junk
Channel {{ $value.account }}-archive

{{ end }}
