# Set default values for all following accounts.
defaults
auto_from	on
tls_trust_file	/etc/ssl/certs/ca-certificates.crt
syslog on
# logfile		/var/log/msmtp.log

{{ range $value := .mail }}
# {{ $value.comment }}
account	      {{ $value.account }}
host		      {{ $value.smtpsrv }}
port		      {{ $value.smtport }}
auth		      {{ $value.smtpaut }}
tls           on
tls_starttls	off
user		      {{ $value.usrname }}
passwordeval  "echo $(pass {{ $value.smtpsrv }}/{{ $value.usrname }})"
auto_from	    {{ $value.autofro }}
from		      {{ $value.address }}
#
{{ end }}

